@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Poppins:wght@300&family=Silkscreen&display=swap');

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-box-shadow: 6px 15px 13px -3px #89899C;
    -webkit-box-shadow: 6px 15px 13px -3px #89899C;
    box-shadow: 2px 15px 13px 1px #89899C;
    font-family: 'Silkscreen', 'monospace', 'sans-serif';
    z-index: 9999;
}


#navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

#actual-navbar{
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

@media (max-width: 600px){
    #navigation{
        font-size:9px;
    }
}
